version: "3"
services:
  elasticsearch:
    build: ./elasticsearch
    #image: kodamap/kibana-elasticsearch:el-6.3.1
    container_name: elasticsearch
    volumes:
      - "/var/data/elasticsearch:/var/lib/elasticsearch"
      - "/var/data/elasticsearch/logs:/usr/share/elasticsearch/logs"
      - "/var/data/elasticsearch/data:/usr/share/elasticsearch/data"
    ports:
      - "9200:9200"
    logging:
      driver: "json-file"
      options:
        max-size: "10240k"
        max-file: "10"
    restart: unless-stopped
  kibana:
    build: ./kibana
    #image: kodamap/kibana-elasticsearch:kibana-6.3.1
    container_name: kibana
    links:
      - elasticsearch
    volumes:
      - "/var/data/kibana:/var/lib/kibana"
    ports:
      - "5601:5601"
    logging:
      driver: "json-file"
      options:
        max-size: "10240k"
        max-file: "10"
    restart: unless-stopped
  logstash:
    build: ./logstash
    #image: kodamap/kibana-elasticsearch:logstash-6.3.1
    container_name: logstash
    links:
      - elasticsearch
    volumes:
      - "/var/data/logstash:/var/lib/logstash"
    ports:
      - "2055:2055/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "10240k"
        max-file: "10"
    restart: unless-stopped
  nginx:
    build: ./nginx
    #image: kodamap/kibana-elasticsearch:nginx-latest
    container_name: nginx
    links:
      - kibana
    ports:
      - "5681:5681"
    logging:
      driver: "json-file"
      options:
        max-size: "10240k"
        max-file: "10"
    restart: unless-stopped